* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  height: 100px;
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-weight: 900;
  font-size: 1.3rem;
}

.container {
  padding: 20px 100px;
}

.inputs {
  padding-top: 60px;
}

.inputFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-bottom: 30px;
}

.inputFields input {
  height: 40px;
  border-radius: 10px;
  border-width: 1px;
  outline: none;
  border-color: rgb(172, 172, 172);
  padding-left: 10px;
}

.inputFields input:focus {
  outline: none !important;
}

.generator {
  border: none;
  height: 45px;
  width: 100%;
  color: white;
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
  border-radius: 10px;
  cursor: pointer;
}

.generator:hover {
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 0.85),
    rgba(166, 38, 211, 0.85)
  );
}

.imgOutput img {
  padding-top: 30px;
  width: 100%;
}
