* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  height: 100px;
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header span img {
  width: 80px;
}

.logo {
  font-weight: 900;
  font-size: 1.3rem;
}

.container {
  padding: 20px 100px;
}

.inputs {
  padding-top: 60px;
}

.inputFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-bottom: 30px;
}

.inputFields input {
  height: 40px;
  border-radius: 10px;
  border-width: 1px;
  outline: none;
  border-color: rgb(172, 172, 172);
  padding-left: 10px;
  font-size: 1.25em;
}

.inputFields input:focus {
  outline: none !important;
  background-color: hsl(34, 78%, 95%);
}

.generator {
  border: none;
  height: 45px;
  width: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 1),
    rgba(166, 38, 211, 1)
  );
  border-radius: 10px;
  cursor: pointer;
}

.generator:hover {
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 0.85),
    rgba(166, 38, 211, 0.85)
  );
}

.generator:active {
  background: linear-gradient(
    90deg,
    rgba(103, 34, 128, 0.85),
    rgba(166, 38, 211, 0.85)
  );
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);
}

.imgOutput {
  position: relative;
}

.imgOutput img {
  width: 100%;
}

.imgUpperText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  top: 10px;
}

.imgLowerText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  bottom: 10px;
}
